<?xml version="1.0"?>
<configuration>
  <appSettings>
  </appSettings>
  <connectionStrings>
    <add name="sftp" connectionString="host=localhost;user=test;pw=test;hostkey=ssh-dss 1024 42:7f:55:f5:9c:a3:7f:ce:ea:a5:bb:a2:7a:e1:c9:02"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v2.0.50727" sku="Client"/>
  </startup>
</configuration>
